In [1]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

In [2]:
produtos_df = pd.read_excel(r'Base de Buscas\buscas.xlsx')
display(produtos_df)

             Nome Termos banidos  Preço mínimo  Preço máximo
0  iphone 12 64gb     mini watch          3000          3500
1        rtx 3060     zota galax          4000          4500

In [3]:
#Abrir o site do Google Shopping:
navegador.get("https://shopping.google.com.br/")

In [4]:
#Buscar o produto:
navegador.find_element(By.ID, 'REsRA').send_keys(produtos_df.loc[0, 'Nome'])
navegador.find_element(By.CLASS_NAME, 'uDgUL').click()